@font-face {
	font-family:'TrebuchetMS-Normal';
	
	src:url('../../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/TrebuchetMS.otf') format('opentype'),
		url('../../fonts/TrebuchetMS.woff') format('woff'),
		url('../../fonts/TrebuchetMS.ttf')  format('truetype'),
		url('../../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
}
@font-face {
	font-family:'TrebuchetMS-Bold';
	
	src:url('../../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/TrebuchetMS-Bold.otf') format('opentype'),
		url('../../fonts/TrebuchetMS-Bold.woff') format('woff'),
		url('../../fonts/TrebuchetMS-Bold.ttf')  format('truetype'),
		url('../../fonts/TrebuchetMS-Bold.svg#TrebuchetMS-Bold') format('svg');
}
@font-face {
	font-family:'TrebuchetMS-Italic';
	
	src:url('../../fonts/TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/TrebuchetMS-Italic.otf') format('opentype'),
		url('../../fonts/TrebuchetMS-Italic.woff') format('woff'),
		url('../../fonts/TrebuchetMS-Italic.ttf')  format('truetype'),
		url('../../fonts/TrebuchetMS-Italic.svg#Whitney-Light') format('svg');
}
