.site-footer {
  &__wrapper {
    .top-footer {
      padding: 50px 15px;
      background-color: $footer-bg;

      @media screen and (max-width: $screen-md-max) {
        padding: 40px 15px 10px 15px;
      }

      .title {
        text-align: center;

        h5 {
          color: $white;
          text-transform: uppercase;
        }
      }

      .form-fields {
        border-bottom: 2px solid $white;
        padding-bottom: 20px;
        text-align: center;

        // input {
        //   width: 158px;
        //   padding: 0px 15px;
        //   margin-top: 10px;
        // }
        .nf-form-cont {
          .nf-form-title {
            display: none;
          }
        }

        .nf-field {
          .nf-field-element {
            div {
              height: 38px;
              border-radius: 4px;
              font-family: $trebuchetnormal;
            }
            select {
              height: 38px;
              font-family: $trebuchetnormal;
            }
            input {
              height: 38px;
              border-radius: 4px;
              font-family: $trebuchetnormal;
            }
            button {
              height: 38px;
              padding: 0px 30px !important;
              margin-left: -50px;
              font-family: $trebuchetnormal;
              border: none;

              @media screen and (min-width: 801px) and (max-width: 992px)
              {
                margin-left: 0px;
                margin-top: 0px;
              }  

              @media screen and (min-width: 601px) and (max-width: 800px)
              {
                margin-left: 0px;
                margin-top: 25px;
              }              

              &:hover {
                background-color: $white;
                color: $black;
              }
            }
          }
        }
      }
    }

    .middle-footer {
      padding: 0px 15px 30px;
      background-color: $footer-bg;
      text-align: center;
      @media screen and (max-width: $screen-md-max) {
        padding: 40px 15px;
      }
      .logo {
        a {
          img {
            max-width: 150px;

            @media screen and (max-width: $screen-md-max) {
              padding-top: 15px;
            }

            @media screen and (max-width: $screen-sm-max) {
              margin-bottom: 20px;
              padding-top: 30px;
              padding-right: 25px;
            }
          }
        }
      }

      ul {
        list-style-type: none;
        li {
          a {
            color: $white;
            text-decoration: none;
          }
        }
        @media screen and (max-width: $screen-md-max) {
          padding: 0;

          li {
            padding: 0;
            margin-top: 10px;
          }
        }
        @media screen and (max-width: $screen-sm-max) {
          li {
            margin-top: 5px;
          }
        }
      }
    }

    .bottom-footer {
      padding: 20px;
      background-color: $footer-bg2;
      p {
        color: $white;
        text-align: center;
      }
    }
  }
}