.site-header {
	background-color: rgba(0,0,0,0.3);
	//background-color:transparent;
	padding: 5px 0px 5px;
	position: fixed;
	width: 100%;
	z-index: 600;
	.custom-container{
		max-width: 1800px;
		width: 100%;
		margin: 0 auto;
		padding:0 15px;
	}

	.menu-bar{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&__left{
			width: 20%;
			float: left;
			display: inline-block;
			.logo{
				margin-top: 5px;
			}
			@media screen and (max-width: 960px){
				display: none;
			}
		}
		&__right{
			width: 80%;
			float: right;
			padding-right: 25px;
			position: relative;
			@media screen and (max-width: 960px){
				width: 100%;
				text-align: center;
			}

			.mobile-logo{
				display: none;
				margin-top:5px;
				position: absolute;
				right: 0;
				top: 0;
				.logo{

					@media screen and (max-width: 960px){
						width: 100%;
						max-width: 100px;
					}
				}

				@media screen and (max-width: 960px){
					display:inline-block;
				}
			}
		}
	}
}


.ubermenu-skin-trans-black.ubermenu-responsive-toggle {
	color: #fff !important;
	font-size: 26px !important;
	padding: 5px 0 !important;
	//margin-top: 5px !important;
}


.ubermenu-target-text{
	text-transform: uppercase !important;
	font-size: 16px !important;
}
.arrow-wrap-left{
	position:absolute;
	left: -80px;
	top: 40%;
	transform: translateY(-60%);
	cursor: pointer;
	a{
		.fas{
			font-size: 30px;
		}
	}
}
.arrow-wrap-right{
	position:absolute;
	right: -80px;
	top: 40%;
	transform: translateY(-60%);
	cursor: pointer;
	a{
		.fas{
			font-size: 30px;
		}
	}
}



// SPECIAL CASE FOR WHEN WP ADMIN BAR IS VISIBLE AND HEADER IS FIXED
/*body.admin-bar {
	header {
		top:32px;

		@media screen and (max-width:782px) {
			top:46px;
		}

		@media screen and (max-width:$screen-xs-max) {
			top:0px;
		}
	}
}*/

.sticky-btn{
	position: fixed;
	top: 30%;
	right: 0;
	z-index: 3;
	&__wrap{
		padding: 5px;
		text-align: center;
		background-color: rgba(0,0,0,0.4);
		a{ 
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			text-decoration: none;

			.fab{
				color: $white;
				font-size: 25px;
				margin-top: 15px;
				
				&:hover{
					color: $blue;
				}
			}
			.fal{
				color: $white;
				font-size: 25px;
				margin-top: 15px;

				&:hover{
					color: $footer-bg;
				}
			}
			
		}
	}
}

.ubermenu-submenu-id-439{
	margin-top: 8px!important;
}