/* SASS Vars */

//Fonts Variable
$trebuchetnormal: 'TrebuchetMS-Normal', sans-serif;
$trebuchetbold: 'TrebuchetMS-Bold', sans-serif;
$trebuchetitalic: 'TrebuchetMS-Italic', sans-serif;


//Colors Variable
$darkblue: #1B1936;
$lightblue: #2c4588;
$footer-bg: #696969;
$black: #000000;
$white: #ffffff;
$footer-bg2:#141414;
$menu-bar:#b75d5a;
$brand-bg:#f7f7f7;
$mapborder: #f4f3f3;
