.about-landing{
    //max-height: 1800px;
//height: 100%;
width: 100%;
text-align: center;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: column;
-ms-flex-flow: column;
flex-flow: column;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
position: relative;
overflow:hidden;
min-height: 400px;

@media screen and (max-width: $screen-sm-max){
      // min-height: 1250px;
       //min-height: 780px;
}
.body-content{
    text-align: center;
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;

    h1{
        font-size: 50px;
        color: $white;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    @media screen and (max-width: $screen-sm-max){
        h1{
                font-size: 35px;
        }
    }
}
.overlay-wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        z-index: 1;
        top: 0;
        left: 0;
    }
}

.about{
	padding: 50px 0px;
    .about-wrap{
        .title{
            text-align: center;
            
            // h1{
            //     color: $black;
            //     text-transform: uppercase;
            //     font-family: $trebuchetnormal;
                
            // }
        }

        &__content{
            padding: 50px 0px;
            max-width: 1200px;
            width: 100%;

            .content{

                @media screen and (max-width: $screen-sm-max){
                    margin-bottom: 50px;
                    text-align: justify;;
                  }

                p{
                    padding: 10px 50px 10px;
                    text-align: justify;

                
                    @media screen and (max-width: $screen-md-max){
                        padding: 15px 25px;
                    }

                    @media screen and (max-width: $screen-sm-max){
                        display: contents;
                        padding: 0px 25px;
                    }
                }
            }

            .content-image{
                margin: 0 auto;
                padding: 15px 0px;
                max-width: 550px;
                width: 100%;
                height: auto;

                @media screen and (max-width: $screen-md-max){
                    margin: 25px auto 0px;
                  }

                @media screen and (max-width: $screen-sm-max){
                    display: contents;
                    padding: 0px 25px;
                  }
            }
        }
    }

    .other-brands{
        padding: 100px 0px 50px;
        text-align: center;
        @media screen and (max-width: $screen-md-max){
            padding-bottom: 0px;
        }
        @media screen and (max-width: $screen-sm-max){
            padding: 50px 0px 0px;
        }
    
        .title {
            max-width: 800px;
            margin: 0px auto;
            width: 100%;
            text-transform: uppercase;
        }
    
        .brand-logo{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 50px 0px;
            
            .row{
                margin: 0px auto;
    
                .logo{
                    
                    a{
                        display: block;
                        text-decoration: none;
                        
                        @media screen and (max-width: $screen-md-max){
                            display: block;
                            text-align: center;
                        }

                        img{
                            max-width: 300px;
                            width: 100%;
                            height: auto;
                            margin: 0px 10px 20px;
        
                            @media screen and (max-width: $screen-md-max){
                                margin: 25px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}
