.range_description{
    padding: 75px 0 25px;
    h4{
        text-align: center;
    }
}

.caravans{
    // padding: 100px 0 100px 50px;
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px 0px;
}