.card-scale {
    transition: .5s;

    .card-img-top {

        img {
            min-height: 175px;
        }
    }
}

.card-scale:hover {
    transform: scale(1.05);
}

.caravan-range {

    width: 30%;
    padding: 50px 0px;
    height: auto;
    display: flex;

    @media screen and (max-width: $screen-sm-max) {
        width: 100%;
    }

    .caravans-card {
        width: 100%;
        padding: 15px;
        box-shadow: 0px 0px 5px grey;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }

        &__title {
            padding: 10px 0px;
            text-align: center;
        }

        &__btn {
            padding: 10px 0px;
            text-align: center;
        }


    }
}