.contact-landing {
  //max-height: 1800px;
  //height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height: 400px;

  @media screen and (max-width: $screen-sm-max) {
    // min-height: 1250px;
    //min-height: 780px;
  }
  .body-content {
    text-align: center;
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;

    h1 {
      font-size: 50px;
      color: $white;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    @media screen and (max-width: $screen-sm-max) {
      h1 {
        font-size: 35px;
      }
    }
  }
  .overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 0;
    left: 0;
  }
}

.contact {
  padding: 50px 0px;
  .contact-wrap {
    // .title {
    //   text-align: center;

    //   h1 {
    //     color: $black;
    //     text-transform: uppercase;
    //     font-family: $trebuchetnormal;
    //   }
    // }

    &__content {
      // border: 1px solid $footer-bg;
      padding: 25px 50px;
      // max-width: 1200px;
      // width: 100%;

      .content-address {
        margin: 0px auto;
      }

      .content {
        padding: 15px 25px;
        .nf-form-title {
          display: none;
        }

        .nf-field {
          .field-wrap {
            .nf-field-label {
              display: none;
            }

            .nf-field-element {
              .ninja-forms-field {
                border-radius: 0px;
              }

              div {
                font-family: $trebuchetnormal;
              }
              select {
                height: 50px;
                font-family: $trebuchetnormal;
              }

              input {
                height: 50px;
                font-family: $trebuchetnormal;
              }

              button {
                padding: 10px 30px;
                background-color: $black;
                color: white;
                text-decoration: none;
                border: 2px solid $black;

                &:hover {
                  background-color: transparent;
                  color: $black;
                }

                @media screen and (max-width: $screen-md-max) {
                  margin-left: 0px;
                }
              }
            }
          }
        }
      }

      .content-address {
        padding: 15px 15px 15px;

        p {
          margin: 10px 25px 15px;

          a {
            text-decoration: none;
            color: $black;
            font-size: 18px;

            .fal {
              margin-right: 20px;
            }
          }
        }
      }

      .embed-map {
        padding: 0px 35px 15px;
        iframe {
          width: 100%;
          max-width: 350px;
          height: 100vh;
          max-height: 250px;
        }
      }
    }
  }
}
