.landing {
  .wrapper {
    position: relative;
    z-index: 2;
    .body-content {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 100%;
      max-width: 1200px;
      @media screen and (max-width: $screen-md-max) {
        max-width: 800px;
      }
      @media screen and (max-width: $screen-sm-max) {
        max-width: 500px;
        padding: 7px;
      }
      
      h1 {
        font-size: 70px;
        font-weight: 800;
        color: $white;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      h3 {
        color: $white;
        font-size: 24px;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        @media screen and (max-width: $screen-md-max) {
          font-size: 1.3rem;
        }
      }
      @media screen and (max-width: $screen-sm-max) {
        h1 {
          font-size: 35px;
        }
      }
      &__contact {
        padding-top: 30px;
        h5 {
          color: $white;
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
      &__dealers {
        padding-top: 50px;
        @media screen and (max-width: $screen-md-max) {
          padding-top: 30px;
        }
        h4 {
          color: $white;
          margin-bottom: 20px;
          @media screen and (max-width: $screen-md-max) {
            margin-top: 20px;
          }
        }
        p {
          color: $white;
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
  }
  .overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
  }
  &__wrap {
    &--slider {
      height: 100%;
      width: 100%;
      text-align: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      min-height: 650px;

      @media screen and (max-width: $screen-sm-max) {
        // min-height: 1250px;
      }
    }
  }
}


.brochure {
  padding: 25px 0px;
  background-color: $footer-bg;
  position: relative;

  .brochuredisplay{
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 250px;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    z-index: 1;

    @media screen and (max-width: 1150px) {
      display: none;
    }


  }

  &__wrap {
    text-align: center;
    .title {
      max-width: 800px;
      margin: 0px auto 25px;
      width: 100%;
      h1 {
        text-transform: uppercase;
      }
      p {
        text-transform: uppercase;
        margin-top: 25px;
        font-weight: bold;
      }
      @media screen and (max-width: $screen-md-max) {
        h1 {
          font-size: 35px;
          
        }
      }
    }
    .brochure-btn-wrap {
      margin: 25px 0px;
    }
  }
}

.latest-news {
  padding: 75px 0px 0px;

  @media screen and (max-width: $screen-md-max) {
    padding: 100px 0px 50px;
  }

  &__wrap {
    text-align: center;

    .title {
      text-transform: uppercase;
      max-width: 800px;
      margin: 0px auto;
      width: 100%;
      @media screen and (max-width: $screen-md-max) {
        h1 {
          font-size: 35px;
        }
      }
    }

    &-description{
      padding: 20px 50px 0px;
    }

    .news__post {
      padding: 75px 0px 0px;
      height: auto;

      @media screen and (max-width: $screen-md-max) {
        .pt-cv-ifield {
          margin: 50px;
        }
      }

      .pt-cv-wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0px auto;

        .pt-cv-view {
          .pt-cv-content-item {
            font-family: $trebuchetnormal;
            margin-bottom: 50px;
            .pt-cv-title {
              a {
                color: $darkblue !important;
                font-family: $trebuchetnormal;
              }
            }
            .pt-cv-content {
              padding: 15px;
              font-family: $trebuchetnormal;
              text-align: justify;

              .btn {
                padding: 10px 30px;
                background-color: $black;
                color: white;
                text-decoration: none;
                border: 2px solid $black;
                

                &:hover {
                  background-color: transparent;
                  color: $black;
                }
              }
            }
            .pt-cv-href-thumbnail {
              .pt-cv-thumbnail {
                width: 100%;
                height: 300px;
                object-fit: scale-down;
              }
            }
            .pt-cv-meta-fields {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.partners {
  padding: 75px 0px;
  background-color: $brand-bg;
  text-align: center;

  h1{
    text-align:center;
    padding-bottom: 50px;
    text-transform: uppercase;
  }
  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
      height: 250px;
      
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
}
