.news-landing{
  //max-height: 1800px;
//height: 100%;
width: 100%;
text-align: center;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: column;
-ms-flex-flow: column;
flex-flow: column;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
position: relative;
overflow:hidden;
min-height: 400px;

@media screen and (max-width: $screen-sm-max){
    // min-height: 1250px;
     //min-height: 780px;
}
.body-content{
      text-align: center;
      position: absolute;
      top: 185px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 100%;

      h1{
          font-size: 50px;
          color: $white;
          letter-spacing: 1px;
          text-transform: uppercase;
      }
      @media screen and (max-width: $screen-sm-max){
         h1{
                  font-size: 35px;
         }
      }

}
.overlay-wrap{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.1);
      z-index: 1;
      top: 0;
      left: 0;
  }
}

.news {
  padding: 50px 0px;
  text-align: center;
  &__wrap {
    .title {
      text-align: center;

      // h1 {
      //   color: $black;
      //   text-transform: uppercase;
      // }
    }
  }

  &__post {
    padding: 100px 0px 0px;

    @media screen and (max-width: $screen-md-max) {
      .pt-cv-ifield {
        margin: 50px;
      }
    }

    .pt-cv-wrapper {
      .pt-cv-view {
        .pt-cv-ifield{
          padding: 0px 25px;
        }

        .pt-cv-content-item {
          font-family: $trebuchetnormal;
          margin-bottom: 50px;
          .pt-cv-title {
            a {
              color: $darkblue !important;
              font-family: $trebuchetnormal;
            }
          }
          .pt-cv-content {
            padding: 25px;
            font-family: $trebuchetnormal;
            text-align: justify;

            .btn {
              padding: 10px 30px;
              background-color: $black;
              color: white;
              text-decoration: none;
              border: 2px solid $black;

              &:hover {
                background-color: transparent;
                color: $black;
              }
            }
          }
          .pt-cv-href-thumbnail {
            .pt-cv-thumbnail {
              width: 100%;
              height: 300px;
              object-fit: scale-down;
            }
          }
          .pt-cv-meta-fields {
            text-align: left;
            padding-left: 25px;
          }
        }
      }
    }
  }
}

.single_wrap {
  padding: 100px 0px;
  &__title {
    font-size: 30px;
    font-family: $trebuchetnormal;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__image {
    margin-bottom: 30px;
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  &__btn{
    margin-top:25px;
    text-transform: uppercase;
  }
}
