.caravan-landing {
  //max-height: 1800px;
  //height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  min-height: 400px;

  @media screen and (max-width: $screen-sm-max) {
    // min-height: 1250px;
    //min-height: 780px;
  }
  .body-content {
    text-align: center;
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;

    h1 {
      font-size: 50px;
      color: $white;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    @media screen and (max-width: $screen-sm-max) {
      h1 {
        font-size: 35px;
      }
    }
  }
  .overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 0;
    left: 0;
  }
}

.caravan {
  padding: 50px 0px;

  &_wrap {
    &__title {
      text-align: center;
    }

    &__info {
      padding: 25px;
      @media screen and (max-width: 768px) {
        padding: 0px 50px;
        text-align: justify;
      }
    }
  }

  &_slider_exterior-section {
    margin: 0px auto;
    .caravan_slider_exterior {
      
      img {
        box-shadow: 0 20px 25px -30px rgba(0, 0, 0, 1);
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 400px;
      }
    }

    .caravan_slider_exterior-description {
      padding: 100px 100px 50px 0px;
      @media screen and (max-width: 768px) {
        padding: 0px 50px;
        text-align: justify;
      }

      p {
        text-align: justify;
      }
      
    }
  }

  .caravan_slider_exterior {
    .slick-slide {
      padding: 40px 0;
      text-align: center;
      width: 50%;
      height: auto;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-track {
    .slick-slide {
      display: flex;
      height: auto;
      align-items: center; //optional
      justify-content: center; //optional
      text-align: center;
    }
  }

  &_slider_interior-section {
    margin: 0px auto;
    .caravan_slider_interior-description {
      padding: 100px 50px 50px 50px;
      p {
        text-align: justify;
        padding-left: 25px;
      }
    }

    .caravan_slider_interior {
      

      img {
        box-shadow: 0 20px 25px -30px rgba(0, 0, 0, 1);
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 400px;
      }
    }
  }

  .caravan_slider_interior {
    .slick-slide {
      padding: 40px 0;
      text-align: center;
      width: 50%;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-track {
    .slick-slide {
      display: flex;
      height: auto;
      align-items: center; //optional
      justify-content: center; //optional
      text-align: center;
    }
  }

  .btn-border{
    border-bottom: 1px solid $black;
    padding-top: 50px;

    .caravan_btn {
      margin: 0 auto;

      @media screen and (max-width: 601px) {
        .single-btn {
          padding: 5px 15px;
          font-size: 14px;
          font-weight: 600;
        }
      }
  
      @media screen and (max-width: 480px) {
        .single-btn {
          padding: 5px 5px;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }

  &_details {
    padding: 25px 0px;
    &__floorplan {
      .title {
        text-align: center;
        padding: 25px 0px;
        text-transform: uppercase;
      }

      .floorplan-description {
        padding: 0px 50px;
      }

      .floor-size {
        padding: 25px;
        padding-right: 0px;

        @media screen and (max-width: 768px) {
          padding: 0px 25px;
          
        }

        .slideshow {
          position: relative;
          z-index: 1;
          height: 100%;
          max-width: 700px;
          width: 100%;
          margin: 50px auto;

          * {
            outline: none;
          }

          @media screen and (max-width: 768px) {
            width: 100%;
            
          }

          .slider-slick {
            box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
            width: 100%;
            max-width: 700px;
            // float: right;
          }

          .slider-track {
            transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
          }

          .item {
            height: 100%;
            position: relative;
            z-index: 1;

            img {
              // padding: 25px 0px;
              width: 100%;
              transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
              transform: scale(1.2);

              @media screen and (max-width: 992px) {
                // padding: 5px;
              }

              // img{
              //   padding: 25px 0px;

              //   @media screen and (max-width: 992px) {
              //     padding: 5px;
              //   }
              // }
            }

            &.slick-active img {
              transform: scale(1);
            }
          }
        }
      }

      .floorplan-specs {
        padding: 100px 5px 0px;

        h4 {
          text-align: left;
          padding: 25px 20px;
          text-transform: uppercase;
        }

        ul {
          
          list-style-type: none;

          li {
            text-decoration: none;
          }
        }

        @media screen and (max-width: 768px) {
          text-align: center;
          padding: 0px 50px;

          h4 {
            text-align: center;
          }
        }
      }

      .condition {
        padding: 25px;
        text-align: center;
      }
    }

    &__specifications {
      
      .title {
        text-align: center;
        padding: 25px 0px;
        text-transform: uppercase;
      }

      .specification-type{
        text-align: center;

        h4{
          padding-bottom: 50px;
        }

        .specifications-internal {
          h4{
            text-transform: uppercase;
          }

          .specifications-internal_ul{
            list-style: none;
            padding-left: 75px;

            .specifications-internal_li{
              text-align: justify;
              line-height: 1rem;
              padding-bottom: 15px;

              @media screen and (max-width: 768px) {
                text-align: center;
              }
            }
          }
        }
  
        .specifications-appliances {
          h4{
            text-transform: uppercase;
          }

          .specifications-appliances_ul{
            list-style: none;
            padding-left: 75px;

            .specifications-appliances_li{
              text-align: justify;
              line-height: 1rem;
              padding-bottom: 15px;

              @media screen and (max-width: 768px) {
                text-align: center;
              }
            }
          }
        }
  
        .specifications-plumbing {
          h4{
            text-transform: uppercase;
          }

          .specifications-plumbing_ul{
            list-style: none;
            padding-left: 75px;

            .specifications-plumbing_li{
              text-align: justify;
              line-height: 1rem;
              padding-bottom: 15px;

              @media screen and (max-width: 768px) {
                text-align: center;
              }
            }
          }
        }
      }
    }

    &__reviews{
      .title {
        text-align: center;
        padding: 25px 0px;
        text-transform: uppercase;
      }
    }
  }
}

#specifications {
  display: none;
}

#floorplan{
  display: block;
}

#reviews{
  display: none;
}