.testimonial-landing{
  //max-height: 1800px;
//height: 100%;
width: 100%;
text-align: center;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: column;
-ms-flex-flow: column;
flex-flow: column;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
position: relative;
overflow:hidden;
min-height: 400px;

@media screen and (max-width: $screen-sm-max){
    // min-height: 1250px;
     //min-height: 780px;
}
.body-content{
      text-align: center;
      position: absolute;
      top: 185px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 100%;

      h1{
          font-size: 50px;
          color: $white;
          letter-spacing: 1px;
          text-transform: uppercase;
      }
      @media screen and (max-width: $screen-sm-max){
         h1{
                  font-size: 35px;
         }
      }

}
.overlay-wrap{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.4);
      z-index: 1;
      top: 0;
      left: 0;
  }
}

.testimonial {
  padding: 50px 0px;

  .testimonial-wrap {
    .title {
      text-align: center;
      // h1 {
      //   color: $black;
      //   text-transform: uppercase;
      //   font-family: $trebuchetnormal;
      // }
    }
  }

  .wrapper{
    padding: 100px 0px;
    
    .carousel{
        padding: 50px 50px;
        text-align: center;
        // border: 1px solid $black;
        // box-shadow: 0px 0px 12px 1px rgba(118,116,116,0.75);
        // -webkit-box-shadow: 0px 0px 12px 1px rgba(118,116,116,0.75);
        // -moz-box-shadow: 0px 0px 12px 1px rgba(118,116,116,0.75);

        .slick-container{
          padding: 0px 25px;
          h2{
            text-align: left;
          }
          h5{
            text-align: right;
            padding-right: 50px;
            padding-top: 25px;
          }
        }
    }

    .slick-dotted{

      ul{
        li{
          position: relative;
        }
        button {
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          padding: 0;
          position: absolute;
          top: 50px;
          border: none;
          background-color: $footer-bg;
          text-indent: -9999px;
        }
      
        li.slick-active button {
          background-color: $black;
        }
      }
    }
  }
}
